.nav-open-close-btn{
    position: absolute;
    right: -15px;
    top: 59px;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    cursor: pointer;
}

.nav-open-close-btn img{
    width: 25px;
    height: 25px;
}

.nav-width {
    width: 128px;
}

.nav-width a{
    padding: 16px 10px 16px 18px;
    font-size: 0;
}

.nav-width .active-nav a:before {
    left: 45px;
}

.nav-width a:before{
    left: 45px;
}

.nav-width .nav-link-logout{
    font-size: 0;
    width: 70px;
    height: 70px;
    padding: 0 !important;
    margin: 50px auto 0;
    border-radius: 50%;
}

.nav-width .nav-link-logout:before{
    left: 20px !important;
    top: 20px;
}

.nav-width .logo .image-logo{
    content: url(../../../assets/images/small-logo.svg);
    width: 90%;
    margin-top: 15px;
}

.nav-width .logo {
    padding: 15px 15px 20px 5px;
}

.scroll-to-top {
    position: fixed;
    bottom: 35px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 8px 4px;
    background-color: #002c48;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 125px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 400;
}

.scroll-to-top img{
    width: 20px;
    height: 20px;
}

.scroll-to-top:hover {
    opacity: 1;
}

@media screen and (max-width: 1400px) {
    .nav-width .logo {
        padding: 25px 15px 20px 25px;
    }

    .nav-width {
        width: 114px;
    }

    .nav-width a{
        padding: 14px 10px 14px 18px;
        font-size: 0;
    }

    .nav-width .active-nav a:before {
        left: 35px;
        height: 22px;
        width: 22px;
    }

    .nav-width a:before{
        left: 35px;
        height: 22px;
        width: 22px;
    }

    .nav-width .nav-link-logout{
        width: 50px;
        height: 50px;
        margin: 30px auto 0;
    }

    .nav-width .nav-link-logout:before{
        left: 10px !important;
        top: 13px;
    }

    .nav-open-close-btn{
        top: 59px;
        width: 30px;
        height: 30px;
        right: -10px;
    }

    .nav-open-close-btn img{
        width: 20px;
        height: 20px;
    }
    
}

@media screen and (max-width: 1200px) {
    .nav-width .logo .image-logo{
        margin-top: 0;
    }

    .nav-open-close-btn{
        top: 45px;
    }

    .main-right-content {
        padding: 25px 0px 50px 114px;
    }

    .nav-width .logo {
        padding: 25px 15px 10px 25px;
    }
}

@media screen and (max-width: 992px) {
    .nav-width {
        width: auto;
    } 

    .nav-width .logo .image-logo{
        content: url(../../../assets/images/bajaj-logo.svg);
        width: 40%;
        margin-top: 15px;
    }

    .nav-width .logo {
        padding: 5px 15px 15px 5px !important;
    }

    .nav-width a{
        padding: 10px 15px 10px 45px !important;
        text-align: left !important;
        opacity: 1 !important;
        font-size: 14px !important;
        /* border: none !important; */
        border-bottom: 1px solid #001F331A !important;
    }

    .nav-width .active-nav a:before {
        left: 10px;
    }
    
    .nav-width a:before{
        left: 14px;
    }

    .nav-width .nav-link-logout{
        background-color: transparent !important;
        width: 80%;
        margin: 40px auto 0 !important;
        border: 1px solid #ff000036 !important;
        padding: 14px 0px 14px 30px !important;
        font-size: 12px !important;
        text-align: center !important;
        border-radius: 12px;
        height: 54px;
    }

    .nav-width .nav-link-logout::before{
        left: 36% !important;
    }

    .scroll-to-top {
        width: 105px;
        font-size: 12px;
        bottom: 95px;
        left: -10%;
    }

    .scroll-to-top img{
        width: 18px;
        height: 18px;
    }
}


.newdiv {
    background-color: lightgreen; /* Example new style */
  }