
<div class="welcome-login">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">

        <div class="text-center">
          <img src="../../../assets/images/login-logo.svg" alt="logo" class="logo">

          <div class="login-box">
            <h1>Login</h1>
            <p>Employee code of sales user (RM,AM,DAM,etc)</p>
            <div class="input-code">
              <input type="text" placeholder="Enter employee code" >
              <div class="user-emp-icon"></div>
            </div>
            <button [routerLink]="['/business']">Login</button>
            <span>*** All available business data is on T-1 and WPC data is on T-2</span>
          </div>

        </div>
        
      </div>
    </div>
  </div>
</div>