<div>
    <app-dashboard></app-dashboard>

    <div class="main-right-content">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-shot">

                        <div class="row">

                            <div class="col-6">
                                <h1 class="heading1">FAQs & SPOC’s</h1>
                            </div>

                            <div class="col-6">
                                <div class="data-chart-tabs">
                                    <div class="user-info-dropdown">
                                        <!-- <img src="../../../assets/images/notification.svg" alt=""> -->
                                         <div class="info-flex-user">
                                            <div>
                                                <span>Mr. Durgesh Rai</span>
                                                <p>AM - 83336</p>
                                            </div>
                                            <div class="user-info-show" (click)="toggleUserInfoVisibility()" [class.arrow-up]="isUserVisible"> <img src="../../../assets/images/dropdown-arrow-white.svg"></div>
                                         </div>
  
                                         <div class="user-info-show-dropdown" [hidden]="!isUserVisible">
                                            <p>Designation</p>
                                            <span>Area Manager</span>
                                            <p>Department</p>
                                            <span>CABR</span>
                                         </div>
  
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

         <!-- mobile-user-details -->
         <div class="mobile-user-details">
            <h2>Mr.Durgesh Rai (AM-83336)</h2>
            <h3><div class="user-name-only">Area Manager</div><span>. CABR</span></h3>
        </div>

        <div class="container-fluid white-main-content">
            <div class="row">
                <div class="col-lg-12">

                    <div class="mtd-ytd-monthly">
                        <div class="row">

                            <div class="col-lg-12">

                                <div class="f-policies">
                                    <div  class="searc-box-left">
                                        <span  class="search-icon"></span>
                                        <input type="text" placeholder="Search for your questions">
                                    </div>
                                </div>

                                <div class="accordion" id="accordionExample">

                                    <div class="accordion-item">
                                       <h2 class="accordion-header" id="headingOne">
                                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                          What is Business Dashboard?
                                          </button>
                                       </h2>
                                       <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                          <div class="accordion-body">
                                             <p>Business Dashboard (BD) is the application which can be used to view the business information of the user like Leads, WPC, Goalsheet, Incentive etc. </p>
                                             <p>Supervisors (DAM and above) can view the business info of the mapped users as well.</p>
                                          </div>
                                       </div>
                                    </div>

                                    <div class="accordion-item">
                                       <h2 class="accordion-header" id="headingTwo">
                                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            What are the benefits of Business Dashboard?
                                          </button>
                                       </h2>
                                       <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                          <div class="accordion-body">
                                             <ul>
                                                <li>All business information in one place</li>
                                                <li>Can be accessed through both desktop and mobile</li>
                                                <li>Able to view the business details of employees mapped to the user</li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>

                                    <div class="accordion-item">
                                       <h2 class="accordion-header" id="headingThree">
                                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Who all can access Business Dashboard?
                                          </button>
                                       </h2>
                                       <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                          <div class="accordion-body">
                                            <p>Business Dashboard can be accessed by all BALIC IB retail sales users (like RM, AM etc).</p>
                                          </div>
                                       </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingFour">
                                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            Is Business Dashboard applicable for all IB channels?
                                           </button>
                                        </h2>
                                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                           <div class="accordion-body">
                                             <p>Business Dashboard is only applicable for Retail business channels.</p>
                                           </div>
                                        </div>
                                     </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingFive">
                                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                            How to access Business Dashboard?
                                           </button>
                                        </h2>
                                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                           <div class="accordion-body">
                                             <p>Business Dashboard can be accessed from OneApp.</p>
                                           </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingSix">
                                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                            How to download OneApp application in mobile?
                                           </button>
                                        </h2>
                                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                                           <div class="accordion-body">
                                             <p>Go to play Store/App store and search for “OneApp BALIC” and download and install the same.</p>
                                           </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingSeven">
                                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                            Can we access Employee 360 without mobile app?
                                           </button>
                                        </h2>
                                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                           <div class="accordion-body">
                                            <p>Yes, Employee 360 can be accessed without mobile app by using the link</p>
                                            <p><a href="https://sales.baliconline.in/IManage/IBSupervisorApp_RMS/#/login" target="_blank">https://sales.baliconline.in/IManage/IBSupervisorApp_RMS/#/login</a> in browser (from both mobile or laptop).</p>
                                           </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingEight">
                                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                            Is the data displayed in Business Dashboard real time?
                                           </button>
                                        </h2>
                                        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                                           <div class="accordion-body">
                                            <p>No, the data is update as on T-1 day for all business data except WPC and SMP report which is update as on T-2 day.</p>
                                            <p>The exception for this scenario is Goalsheet and Incentive modules.</p>
                                           </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingNine">
                                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                            When will the data get updated for Goalsheet and Incentive module?
                                           </button>
                                        </h2>
                                        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                                           <div class="accordion-body">
                                            <p>The data in Goalsheet and Incentive modules will be updated after 10th of every month.</p>
                                           </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTen">
                                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                            Whom should we contact for Business Dashboard issues?
                                           </button>
                                        </h2>
                                        <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
                                           <div class="accordion-body">
                                            <p>If there is any data issue,</p>
                                            <ul>
                                                <li>please raise ticket through I-BOT 7030011473, by following important information🡪IB sales support🡪Click on link.</li>
                                            </ul>
                                            <p>If there is any technical issue, please raise issue using below escalation matrix:</p>
                                            <ul>
                                                <li>Level 1: <a href="mailto:piyushp.hatmode@bajajallianz.co.in">piyushp.hatmode&#64;bajajallianz.co.in</a></li>
                                                <li>Level 2: <a href="mailto:deepak.rajeev@bajajallianz.co.in"> deepak.rajeev&#64;bajajallianz.co.in</a></li>
                                            </ul>
                                           </div>
                                        </div>
                                    </div>




                                 </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>